.todos-container {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.todo {
  background-color: #4ea4d6;
  color: #0e0d0d;
  box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.4);
}
.title{
  text-align: center;
}